---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include header.html %}
<body data-theme="{{ site.mode }}" class="notransition">

  <script>
    // Remove transition class after page load
    setTimeout(() => document.body.classList.remove("notransition"), 75);
  </script>

  {% include navbar.html %}
  <div class="wrapper">
    <main aria-label="Content">
      <div class="not-found">
        <div class="container">
          <div class="title">404</div>
          <p class="phrase">Unable to comply. There are FOUR lights!</p>
          <a class="solution" href="{{ site.url }}">return to bridge</a>
        </div>
      </div>
    </main>  
    {% include footer.html %}
  </div>
    
</body>

</html>
