---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}

<body data-theme="{{ site.mode }}" class="notransition">

  <script>
    // Remove transition class after page load
    setTimeout(() => document.body.classList.remove("notransition"), 75);
  </script>

  {% include navbar.html %}
  <div class="wrapper">
    {% include author.html %}
    <main aria-label="Content">
      {{ content }}
    </main>
    {% include footer.html %}
  </div>
</body>
</html>
